extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='user') User:   
      input#name.form-control(type='text', placeholder='user' name='user')
    div.form-group
      label(for='message') Message: 
      input#name.form-control(type='text', placeholder='message' name='message')
    button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg
